.footer {
  width: 100%;
}

.footer-line {
  height: 4px;
  margin: 40px;

  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 50%,
    var(--color-tertiary) 100%
  );
}