:host {
  display: block;
  height: 100vh;
}

.container {
  height: 100%;
}

mat-sidenav {
  width: 240px;
  background-color: #F7F7F2;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #F7F7F2;
}

.page-content {
  background-color: var(--color-primary-contrast);
  height: 80%;
  margin: 30px;
  border-radius: 20px;
}

