.content-grid {
  background-color: var(--color-background);

  width: 100%;
  height: 55dvh;
  min-height: 0;

  display: flex;
  flex-direction: column;

  border-radius: 15px;

  box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.08);

  padding: 20px;

  box-sizing: border-box;

  overflow: hidden;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {

  .container-page {
    padding: 16px;
  }

  .content-grid {
    height: 55vh;
  }
}


@media (max-width: 480px) {

  .container-page {
    padding: 12px;
    gap: 16px;
  }

  .content-grid {
    padding: 12px;
    height: 50vh;
  }
}