<div class="container-page">

    <section>
        <h3 class="title-page">
            Usuários
        </h3>
        <div class="clip-title"></div>
    </section>

    <app-search (searchChange)="onSearch($event)"></app-search>

    <hr class="divider">


    <div class="flex justify-end">
        <button mat-flat-button>
            <mat-icon>add</mat-icon>
            Cadastrar usuário
        </button>
    </div>

    <div class="content-grid">
        @if (loading()) {
        <app-loading message="Carregando usuários..." />
        } @else if (usersList().length > 0) {
        <app-card-grid [usersList]="usersList()" />
        } @else {
        <app-empty-result message="Nenhum usuário encontrado para os filtros informados" />
        }
    </div>
</div>