.container-page {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-x: hidden;
}

.title-page {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
}

.clip-title {
  width: 50px;
  height: 10px;
  background: var(--color-tertiary);
  border-radius: 4px;
  margin-top: 10px;
}


.subtitle {
     font-size: 15px;
    font-weight: 500;
    line-height: 0px;
    color: var(--color-primary);
}


.flex {
    display: flex;
}

.gap-2 {
    gap: 16px;
}

.w-full {
    width: 100%;
}

.justify-end {
    justify-content: end;
}

.divider {
    border: 0;
    border-top: 1px solid var(--color-text-disabled);

    margin-left: 10px;
    margin-right: 10px;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    background-color: var(--color-focus);
    color: var(--color-primary);

    font-size: 1rem;
    font-weight: 400;
}

.toast-success {
  --mdc-snackbar-container-color: #16a34a;
  --mat-snack-bar-button-color: #fff;
}

.toast-error {
  --mdc-snackbar-container-color: #dc2626;
  --mat-snack-bar-button-color: #fff;
}

.toast-warning {
  --mdc-snackbar-container-color: #f59e0b;
  --mat-snack-bar-button-color: #fff;
}

.toast-info {
  --mdc-snackbar-container-color: #2563eb;
  --mat-snack-bar-button-color: #fff;
}

.mat-mdc-menu-content {
  background-color: var(--color-primary-contrast);
}

