@import './app/theme/tokens.scss';
@import './app//theme//utility.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; background-color: var(--color-background); }
